@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color:  #1f242d;
    --second-bg-color: #323946;
    --text-color: #ededed;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

header a img {
    width: 140px;
  }

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* Estilo para a seção home */
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    justify-content: space-between; /* No desktop, o texto e a imagem ficam lado a lado */
}

/* Conteúdo principal da home */
.home-content {
    max-width: 60rem;
    z-index: 99;
    flex: 1 1 50%; /* No desktop, ocupa 50% da largura */
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
}

.home.show-animate .home-content .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content p {
    position: relative;
    font-size: 2.0rem;
    margin: 2rem 0 4rem;
}

/* Imagem da Home */
.home-img {
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-img img {
    width: 100%;
    max-width: 25vw; /* Garante que a imagem não ultrapasse esse limite */
    margin-top: 10%;
    object-fit: cover; /* A imagem vai cobrir o espaço sem distorcer */
    animation: floatImage 4s ease-in-out infinite;
}

/* Estilos para os botões */
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem; /* Largura fixa para os botões no desktop */
    height: 5rem;
    margin-top: 2rem; /* Ajusta o espaçamento superior */
}

/* Estilos dos botões */
.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem; /* Largura fixa para cada botão */
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

/* Hover nos botões */
.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 98%;
    height: 98%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 3.2rem;
}

.about-content p {
    position: relative;
    font-size: 2.0rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    position: relative;
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}


.education-content p a{
    Color:var(--text-color);
    text-decoration: underline;
}
.skills {
    min-height: auto;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: var(--second-bg-color);
}

.skills h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-column .skills-box {
    position: relative;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 50%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 45%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span {
    width: 35%;
}



.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 95%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 67%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 45%;
}



.portfolio {
    background: var(--second-bg-color);
    padding-top: 16rem;
    padding-bottom: 22rem;
    margin-top: 20rem;
    display: block;
}

.portfolio h2 {
    margin-bottom: 6rem;
    text-align: center; /* Centraliza o título */
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card-content {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* alinha todos os cards pelo topo */
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
  }
  
  /* já existia no seu CSS, mas só pra reforçar */
  .card {
    background: #fff;
    width: 300px;
    height: 550px;
    margin: 10px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* já evita centralizar verticalmente */
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
  }
  
  /* 2) Zera todas as margens do título e padroniza só a de baixo */
  .card-info h3 {
    margin: 0 0 1rem !important;
  }
  
  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adicione esta linha: */
    height: 200px; /* Altura fixa para alinhar todos os títulos */
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .card-image img {
    max-height: 100%; /* Garante que a imagem se ajuste à altura definida */
    width: auto;
    border-radius: 10px;
  }
  
  .card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    color: #222;
    text-align: center;
  }
  
  .card-info h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .card-info p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: 1.4em;
  }

  .pagination {
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
  }
  
  .pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
  }
  
  .pagination li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
  }
  
  .previous-page, .next-page {
    background: #0AB1CE;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .previous-page:hover {
    transform: translateX(-5px);
  }
  
  .next-page:hover {
    transform: translateX(5px);
  }
  
  .current-page, .dots {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .azul {                       /*cor da paginacao quandoa active */
    background: #0AB1CE;
  }

  .disable {
    background: #ccc;
  }
  

/* Sem media query, mantendo apenas o layout desktop com 2 colunas */

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}


.education-content p a{
    Color:var(--text-color);
    text-decoration: underline;
}

.contact {
    min-height: auto;
    padding-top: 20rem;
    text-align: center;
}

.heading {
    margin-bottom: 20px;
}

.heading span {
    color: var(--main-color);
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.contact-info {
    max-width: 50%;
    text-align: left;
}

.contact-info h3 {
    color: var(--main-color);
    font-size: 3rem;
}


.contact-info p {
    font-size: 1.8rem;
    margin: 20px 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    font-size: 1.6rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.contact-info ul li i {
    margin-right: 10px;
}

.contact-info ul li a {
    color: var(--main-color);
    text-decoration: none;
}

.contact-image {
    max-width: 50%;
    padding-bottom: 5rem;
}

.contact-image img {
    max-width: 100%;
    height: auto;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */


.animate.home-img {
    width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}



section:nth-child(odd) .animate.scroll,
.footer .animate.scroll {
    background: var(--second-bg-color);
}

.education .education-box .animate.scroll {
    width: 105%;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.portfolio.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll {
    transition-delay: calc(.01s * var(--i));
    width: 0;
}


@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

/* BREAKPOINTS */
/* Responsividade para telas grandes, como desktops maiores */
/* Responsividade para telas grandes, como desktops maiores */
/* Responsividade para telas grandes, como desktops maiores */
/* Responsividade para telas menores que 1200px */
/* Responsividade para tablets e telas menores (991px) */

/* Responsividade para telas de 1024px até 768px (iPad Mini e tablets) */
@media (max-width: 1024px) {
    .home-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        margin-left: 10%; /* Ajustando a posição da imagem para a direita nos tablets */
    }

    .home-img img {
        width: 100%; /* A imagem ocupa toda a largura da tela */
        max-width: 100%; /* Evita que a imagem ultrapasse a largura disponível */
        height: auto; /* Mantém a proporção da imagem */
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr); /* Garantir 2 colunas em telas de tablets */
    }

    .portfolio-box {
        width: 100%;
    }
}

/* Responsividade para telas menores que 850px */
@media (max-width: 850px) {
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para dispositivos móveis e tablets menores */
    }

    .portfolio-box {
        width: 100%;
    }

    .pagination {
        display: flex;               /* Garante que os itens fiquem em uma linha */
        justify-content: center;     /* Centraliza a paginação */
        margin: 20px 20px 50px;      /* Ajusta a margem */
    }
}

/* Responsividade para telas grandes (até 1200px) */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
        margin-top: 18rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas entre 850px e 1200px */
    }

    .portfolio-box {
        width: 100%;
    }

    .pagination {
        display: flex;               /* Garante que os itens fiquem em uma linha */
        justify-content: center;     /* Centraliza a paginação */
        margin: 25px 25px 55px;      /* Ajusta a margem */
    }
}

/* Responsividade para telas até 768px */
@media (max-width: 768px) {
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para tablets */
    }

    .portfolio-box {
        width: 100%;
    }

    .pagination {
        display: flex;               /* Garante que os itens fiquem em uma linha */
        justify-content: center;     /* Centraliza a paginação */
        margin: 30px 30px 60px;      /* Ajusta a margem */
    }
}

/* Responsividade para telas menores que 600px */
@media (max-width: 600px) {
    .portfolio-container {
        grid-template-columns: 1fr; /* 1 coluna para dispositivos móveis menores */
    }

    .portfolio-box {
        width: 100%;
    }

    .pagination {
        display: flex;               /* Garante que os itens fiquem em uma linha */
        justify-content: center;     /* Centraliza a paginação */
        margin: 15px 15px 40px;      /* Ajusta a margem */
    }
}

/* Responsividade para telas menores que 850px */
@media (max-width: 850px) {
    .home-img {
        width: 100%;
        margin-top: 10%;
        object-fit: cover; /* A imagem vai cobrir o espaço sem distorcer */
        animation: floatImage 4s ease-in-out infinite;
    }

    .animate.home-img {
        width: 55%;
    }

    .contact-section {
        flex-direction: column;
        text-align: center;
    }

    .portfolio-container {
        grid-template-columns: 1fr; /* 1 coluna em dispositivos móveis */
    }
    .portfolio-box {
        width: 100%;
    }

    .pagination {
        display: flex;               /* Garante que os itens fiquem em uma linha */
        justify-content: center;     /* Centraliza a paginação */
        margin: 20px 20px 50px;      /* Ajusta a margem */
    }
}

/* Responsividade para telas grandes (1200px) */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
        margin-top: 18rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas entre 850px e 1200px */
    }
    .portfolio-box {
        width: 100%;
    }

    .pagination {
        display: flex;               /* Garante que os itens fiquem em uma linha */
        justify-content: center;     /* Centraliza a paginação */
        margin: 25px 25px 55px;      /* Ajusta a margem */
    }
}

/* Responsividade para telas menores que 991px */
@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .contact-section {
        flex-direction: column;
        text-align: center;
    }

    .footer {
        padding: 2rem 4%;
    }

    .portfolio-container {
        grid-template-columns: 1fr; /* 1 coluna em tablets */
    }
    .portfolio-box {
        width: 100%;
    }

    .pagination {
        display: flex;               /* Garante que os itens fiquem em uma linha */
        justify-content: center;     /* Centraliza a paginação */
        margin: 25px 25px 55px;      /* Ajusta a margem */
    }
}

/* Responsividade para telas médias (1080px) */
@media (max-width: 1080px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    /* Ajustando imagem para tablets */
    .home-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }

    .home-img img {
        width: 100%; /* A imagem ocupa toda a largura da tela */
        max-width: 100%; /* Evita que a imagem ultrapasse a largura disponível */
        height: auto; /* Mantém a proporção da imagem */
    }

    .contact-section {
        flex-direction: column;
        text-align: center;
    }

    .portfolio-container {
        grid-template-columns: 1fr; /* 1 coluna em telas menores */
    }
    .portfolio-box {
        width: 100%;
    }

    .pagination {
        display: flex;               /* Garante que os itens fiquem em uma linha */
        justify-content: center;     /* Centraliza a paginação */
        margin: 25px 25px 55px;      /* Ajusta a margem */
    }
}

/* Responsividade para telas menores que 600px */
@media (max-width: 600px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .portfolio-container .portfolio-box {
        width: 80%;
    }

    .home-img {
        margin-bottom: 5%;
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .home-img img {
        width: 100%;
        height: auto;
        max-width: 500px; /* Ou qualquer valor desejado */
        transition: all 0.3s ease;
    }

    .pagination {
        display: flex;               /* Garante que os itens fiquem em uma linha */
        justify-content: center;     /* Centraliza a paginação */
        margin: 15px 15px 40px;      /* Ajusta a margem */
    }
}



/* KEYFRAMES ANIMATION */
@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}
